<ng-container *ngIf="loading; else Content">
  <identity-loader></identity-loader>
</ng-container>

<ng-template #Content>

  <div class="container">

    <header class="header">
      <div class="wrapper">
        <h1 class="title">Genres</h1>
        <div class="description">Browse genres featured in Kocmoc episodes.</div>
      </div>
    </header>

    <div class="filter">
      <div class="wrapper">
        <a routerLink="/genres" [class.active]="activeRoute('/genres')">Genres</a>
        <a routerLink="/artists" [class.active]="activeRoute('/artists')">Artists</a>
      </div>
    </div>

    <ul class="parent-genres" *ngIf="parentGenres && parentGenres.length">
      <li class="parent-genre" *ngFor="let genre of parentGenres">
          <a [routerLink]="['/genre', genre.id]">{{ genre.name }}</a>
       
          <ng-container *ngIf="genre.children && genre.children.length">
            <ul class="child-genres">
              <li class="child-genre" *ngFor="let childGenre of genre.children">
                <a [routerLink]="['/genre', childGenre.id]">{{ childGenre.name }}</a>
              </li>
            </ul>
          </ng-container>
      </li>
    </ul>
    
  </div>
 
</ng-template>