<nav class="main-nav">
  <div class="wrapper">
    <a routerLink="/">
      <h1 class="app-title">KOCMOC.CC</h1>
    </a>

    <ul class="primary-menu">
      <li><a routerLink="/episodes">Radio Archive</a></li>
      <li><a routerLink="/schedule">Schedule</a></li>
      <li><a routerLink="/producers">Producers</a></li>
      <li><a routerLink="/genres">Explore</a></li>
    </ul>

    <div class="toggle-sidebar-btn" #toggleSidebarBtn [class.active]="sidebarActive" (click)="toggleSidebar()">
      <span class="symbol">expand_more</span>
    </div>
  </div>

  
</nav>

<app-audio-player></app-audio-player>

<aside class="sidebar" #sidebar *ngIf="sidebarActive" [@expandablePanelAnimation]="sidebarActive ? 'expanded' : 'collapsed'">
  <nav>
    <ul class="primary-menu">
      <li><a routerLink="/episodes">Radio Archive</a></li>
      <li><a routerLink="/schedule">Schedule</a></li>
      <li><a routerLink="/producers">Producers</a></li>
      <li><a routerLink="/genres">Explore</a></li>
    </ul>
  </nav>
</aside>