.main-nav {
  position: relative;
  z-index: 2;
  background-color: rgb(var(--color-primary-950));
}

.main-nav>.wrapper {
  height: 44px;
  padding: 0 0 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav .app-title {
  font-family: var(--font-sans-condensed);
  font-weight: var(--font-bold);
  font-size: var(--font-lg);
}

.main-nav .actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
}

.main-nav .primary-menu {
  display: none;
}

.toggle-sidebar-btn {
  cursor: pointer;
  display: flex;
  padding-right: 14px;
}

@media (min-width: 720px) {
  .main-nav .primary-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    font-family: var(--font-sans-condensed);
    font-weight: var(--font-medium);
    padding-right: 20px;
  }

  .toggle-sidebar-btn {
    display: none;
  }
}

.sidebar {
  position: absolute;
  z-index: 1;
  top: 44px;
  right: 0;
  width: 100%;
  max-width: 320px;
  background-color: rgb(var(--color-primary-950));
}

.sidebar>.wrapper {
  padding: 20px;
}

.sidebar .primary-menu {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  font-family: var(--font-sans-condensed);
  font-weight: var(--font-medium);
}