.main-nav {
  position: relative;
  z-index: 1;
  background-color: rgb(var(--color-primary-950));
}

.main-nav > .wrapper {
  height: 44px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav .app-title {
  font-family: var(--font-sans-condensed);
  font-weight: var(--font-bold);
  font-size: var(--font-lg);
}

.main-nav .menu {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  font-family: var(--font-sans-condensed);
  font-weight: var(--font-medium);
}