<ng-container *ngIf="loading; else Content">
  <identity-loader></identity-loader>
</ng-container>

<ng-template #Content>

  <swiper-container class="highlights" speed="500" autoplay-delay="15000" autoplay-disable-on-interaction="false">
    <ng-container *ngFor="let highlight of homePage?.highlights">
      <swiper-slide>
        <picture *ngIf="highlight.image.url">
          <source appLazyLoad [attr.data-srcset]="highlight.image.size['medium']" media="(max-width: 424px)">
          <source appLazyLoad [attr.data-srcset]="highlight.image.size['medium_large']" media="(min-width: 425px) and (max-width: 639px)">
          <source appLazyLoad [attr.data-srcset]="highlight.image.size['2048x2048']" media="(min-width: 640px)">
          <img appLazyLoad [attr.data-src]="highlight.image.size['medium_large']" [alt]="highlight.image.alt" />
        </picture>

        <div class="content">
          <div class="wrapper">
            <ng-container *ngIf="highlight.title && highlight.link">
              <ng-container *ngIf="highlight.linkType === 'episode'">
                <a [routerLink]="['/episode', highlight.link]">
                  <h2 class="title">{{ highlight.title }}</h2>
                </a>
              </ng-container>
            
              <ng-container *ngIf="highlight.linkType === 'page'">
                <a [routerLink]="['/page', highlight.link]">
                  <h2 class="title">{{ highlight.title }}</h2>
                </a>
              </ng-container>
            
              <ng-container *ngIf="highlight.linkType === 'post'">
                <a [routerLink]="['/post', highlight.link]">
                  <h2 class="title">{{ highlight.title }}</h2>
                </a>
              </ng-container>
            </ng-container>
            
            <ng-container *ngIf="!highlight.link && highlight.title">
              <h2 class="title">{{ highlight.title }}</h2>
            </ng-container>            

            <div class="description" *ngIf="highlight.description">{{ highlight.description }}</div>
          </div>
        </div>
      </swiper-slide>
    </ng-container>
  </swiper-container>

  <section class="recent-episodes" *ngIf="recentEpisodes && recentEpisodes.length">
    <div class="container">
      <h2 class="title">Recent Episodes</h2>
      <app-episode-related-list [currentOnDemandStream$]="currentOnDemandStream$"
        [onDemandStreamLoading$]="onDemandStreamLoading$" [onDemandStreamPlaying$]="onDemandStreamPlaying$"
        [episodes]="recentEpisodes">
      </app-episode-related-list>
    </div>
  </section>
  
</ng-template>