.highlights {
  height: calc(100vh - 3rem - 2.65rem);
}

.highlights .content {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  background-image: linear-gradient(0, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.highlights .content .wrapper {
  max-width: var(--max-w-sm);
  padding: calc(50vh - 3rem - 2.65rem - 1.5rem) 20px 1.5rem;
}

.highlights .content .wrapper .title {
  font-size: var(--font-3xl);
  font-weight: var(--font-medium);
  font-family: var(--font-sans-condensed);
  margin-bottom: 0.75rem;
}

.highlights img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 3rem - 2.65rem);
}

.recent-episodes > .container {
  padding: 1.5rem 20px;
}

.recent-episodes > .container > .title {
  margin-bottom: 1.5rem;
  font-family: var(--font-sans-condensed);
  font-size: var(--font-3xl);
}