<div class="container">

    <div *ngIf="isLoading" class="loading">Loading...</div>

    <div *ngIf="!isLoading">

        <h1>Episodes</h1>

        <ul class="episodes">

            <li *ngFor="let episode of episodes" class="episode">

                <div class="play-container">

                    <div *ngIf="hasThumbnail(episode)">
                        <img [src]="getThumbnailUrl(episode)" alt="Featured Image">
                    </div>

                    <div *ngIf="episode.acf?.track_file_name" class="play-controls"
                    [class.playing]="audioPlayerService.currentEpisode.value?.id === episode.id && audioPlayerService.isEpisodePlaying"
                    [class.paused]="audioPlayerService.currentEpisode.value?.id === episode.id && !audioPlayerService.isEpisodePlaying"
                    (click)="playEpisode(episode)">

                    <span class="material-symbols-outlined symbol"
                        *ngIf="audioPlayerService.currentEpisode.value?.id === episode.id && audioPlayerService.isEpisodePlaying && !(audioPlayerService.episodeLoading.value && audioPlayerService.currentEpisode.value?.id === episode.id)">
                        pause
                    </span>

                    <span class="material-symbols-outlined symbol"
                        *ngIf="(audioPlayerService.currentEpisode.value?.id !== episode.id || !audioPlayerService.isEpisodePlaying) && !(audioPlayerService.episodeLoading.value && audioPlayerService.currentEpisode.value?.id === episode.id)">
                        play_arrow
                    </span>

                    <span class="loader" *ngIf="(audioPlayerService.episodeLoading.value) && audioPlayerService.currentEpisode.value?.id === episode.id"></span>

                </div>

                </div>

                

                <a [routerLink]="['/episode', episode.id]">
                    <p>{{ episode.date | date }}</p>
                    <h2>{{ episode.title.rendered }}</h2>
                    <p [innerHTML]="episode.excerpt.rendered"></p>
                </a>

                <ul class="genres" *ngIf="getGenresForEpisode(episode).length > 0">
                    <li *ngFor="let genre of getGenresForEpisode(episode)">
                        <a [routerLink]="['/genre', genre?.id]">{{ genre?.name }}</a>
                    </li>
                </ul>

                

            </li>

        </ul>

    </div>

</div>