<div *ngIf="isLoading" class="loading">Loading...</div>

<div *ngIf="!isLoading">

    <h1>Episodes</h1>

    <ul class="episodes">

        <li *ngFor="let episode of episodes" class="episode">

            <a [routerLink]="['/episode', episode.id]">
                <div *ngIf="hasThumbnail(episode)">
                    <img [src]="getThumbnailUrl(episode)" alt="Featured Image">
                </div>
                <p>{{ episode.date | date }}</p>
                <h2>{{ episode.title.rendered }}</h2>
                <p [innerHTML]="episode.excerpt.rendered"></p>
            </a>

            <ul class="genres" *ngIf="getGenresForEpisode(episode).length > 0">
                <li *ngFor="let genre of getGenresForEpisode(episode)">
                    <a [routerLink]="['/genre', genre?.id]">{{ genre?.name }}</a>
                </li>
            </ul>

            <div *ngIf="episode.acf?.mp3" class="play"
     [class.playing]="audioPlayerService.currentEpisode.value?.id === episode.id && audioPlayerService.isEpisodePlaying"
     [class.paused]="audioPlayerService.currentEpisode.value?.id === episode.id && !audioPlayerService.isEpisodePlaying"
     (click)="playEpisode(episode)">

                <span class="material-symbols-outlined play"
                    *ngIf="audioPlayerService.currentEpisode.value?.id === episode.id && audioPlayerService.isEpisodePlaying && !(audioPlayerService.episodeLoading.value && audioPlayerService.currentEpisode.value?.id === episode.id)">
                    pause
                </span>

                <span class="material-symbols-outlined play"
                    *ngIf="(audioPlayerService.currentEpisode.value?.id !== episode.id || !audioPlayerService.isEpisodePlaying) && !(audioPlayerService.episodeLoading.value && audioPlayerService.currentEpisode.value?.id === episode.id)">
                    play_arrow
                </span>

                <!-- <mat-spinner
                    *ngIf="(audioPlayerService.episodeLoading.value) && audioPlayerService.currentEpisode.value?.id === episode.id"></mat-spinner> -->

                    <span class="loader" *ngIf="(audioPlayerService.episodeLoading.value) && audioPlayerService.currentEpisode.value?.id === episode.id"></span>

            </div>

        </li>

    </ul>

</div>