.container {
  padding: 3rem 20px 3rem;
}

@media (min-width: 720px) {
  .container {
    padding: 1.5rem 20px 3rem;
  }
}

.container > .header {
  margin: 0 0 1.5rem;
}

.container > .header > .title {
  font-size: var(--font-4xl);
  font-weight: var(--font-medium);
  font-family: var(--font-sans-condensed);
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
