<div class="container">

    <div *ngIf="isLoading" class="loading">Loading...</div>

    <div *ngIf="!isLoading">

        <h1>Episodes</h1>

        <ul class="episodes">

            <li *ngFor="let episode of episodes" class="episode"
                [ngClass]="{
                    'active': (currentOnDemandStream$ | async)?.id === episode.id, 
                    'loading': (currentOnDemandStream$ | async)?.id === episode.id && (onDemandStreamLoading$ | async), 
                    'playing': (currentOnDemandStream$ | async)?.id === episode.id && (onDemandStreamPlaying$ | async)}">

                <div class="play-container">

                    <div *ngIf="hasThumbnail(episode)">
                        <img [src]="getThumbnailUrl(episode)" alt="Featured Image">
                    </div>

                    <div *ngIf="episode.acf?.track_file_name" class="play-controls" (click)="playEpisode(episode)">

                        <span *ngIf="(currentOnDemandStream$ | async)?.id === episode.id && (onDemandStreamPlaying$ | async) && !(onDemandStreamLoading$ | async)" 
                              class="material-symbols-outlined symbol">pause</span>
                    
                        <span *ngIf="(currentOnDemandStream$ | async)?.id !== episode.id || (currentOnDemandStream$ | async)?.id === episode.id && !(onDemandStreamPlaying$ | async) && !(onDemandStreamLoading$ | async)" 
                              class="material-symbols-outlined symbol">play_arrow</span>
                    
                        <div *ngIf="(currentOnDemandStream$ | async)?.id === episode.id && (onDemandStreamLoading$ | async)" class="spinner-container">
                            <div class="spinner"></div>
                        </div>       
                    
                    </div>
                    
                </div>

                <a [routerLink]="['/episode', episode.id]">
                    <p>{{ episode.date | date }}</p>
                    <h2>{{ episode.title.rendered }}</h2>
                    <p [innerHTML]="episode.excerpt.rendered"></p>
                </a>

                <ul class="genres" *ngIf="getGenresForEpisode(episode).length > 0">
                    <li *ngFor="let genre of getGenresForEpisode(episode)">
                        <a [routerLink]="['/genre', genre?.id]">{{ genre?.name }}</a>
                    </li>
                </ul>

            </li>

        </ul>

    </div>

</div>