<ng-container *ngIf="loading; else Content">
  <identity-loader></identity-loader>
</ng-container>

<ng-template #Content>

  <div class="container" *ngIf="artist">

    <header class="header">
      <div class="wrapper">
        <h1 class="title">{{artist.name}}</h1>
      </div>
    </header>

    <div class="statistics" *ngIf="relatedEpisodes && relatedEpisodes.length" [innerHTML]="artistStatistics"></div>
    
    <div class="description" *ngIf="lastFmArtist">
      <div>{{ expandedDescription ? lastFmArtist.bio.content : (lastFmArtist.bio.content | slice:0:600) }} <span *ngIf="!expandedDescription && lastFmArtist.bio.content.length > 600">...</span></div>
      <div class="expand" *ngIf="lastFmArtist.bio.content.length > 600"><span class="underline" (click)="toggleDescription()">{{ expandedDescription ? 'Less' : 'More' }}</span></div>
    </div>
     
  </div>

  <section class="related-episodes" *ngIf="relatedEpisodes">
    <div class="container">
      <h2 class="title">Tracks recently featured on</h2>
      <app-episode-related-list [currentOnDemandStream$]="currentOnDemandStream$"
        [onDemandStreamLoading$]="onDemandStreamLoading$" [onDemandStreamPlaying$]="onDemandStreamPlaying$"
        [episodes]="relatedEpisodes">
      </app-episode-related-list>
    </div>
  </section>

</ng-template>