<ng-container *ngIf="loading; else Content">
  <identity-loader></identity-loader>
</ng-container>

<ng-template #Content>

  <div class="genre" *ngIf="genre">
    <div class="container">

      <header class="header">
        <h1 class="title">{{ genre.name }}</h1>
        <div class="description">Tune in live or listen back to our music archive.</div>
      </header>

      <app-episode-related-list [currentOnDemandStream$]="currentOnDemandStream$"
        [onDemandStreamLoading$]="onDemandStreamLoading$" [onDemandStreamPlaying$]="onDemandStreamPlaying$"
        [episodes]="relatedEpisodes">
      </app-episode-related-list>

      <div class="pagination">
        <div class="load-more" [class.loading-more]="loadingMore" *ngIf="hasMore" (click)="loadMore()">Load More</div>
      </div>

    </div>
  </div>

</ng-template>