<ng-container *ngIf="loading; else Content">
  <identity-loader></identity-loader>
</ng-container>

<ng-template #Content>

  <div class="genre" *ngIf="genre">
    <div class="container">

      <header class="header">
        <h1 class="title">{{ genre.name }}</h1>
      </header>

      <app-episode-related-list [currentOnDemandStream$]="currentOnDemandStream$"
        [onDemandStreamLoading$]="onDemandStreamLoading$" [onDemandStreamPlaying$]="onDemandStreamPlaying$"
        [episodes]="relatedEpisodes">
      </app-episode-related-list>

      <div class="pagination" *ngIf="hasMore">
        <span class="load-more-btn" (click)="loadMore()">Load More</span>
      </div>

    </div>
  </div>

</ng-template>