<div *ngIf="genre; else loading">

    <h1>Name: {{genre.name}}</h1>
    <p>Id: {{genre.id}}</p>
    <p>Slug: {{genre.slug}}</p>
    <p>Description: {{genre.description}}</p>

    <ul class="episodes">
        <li *ngFor="let episode of episodes" class="episode">
            <a [routerLink]="['/episode', episode.id]">
                <p>{{ episode.date | date }}</p>
                <h2>{{ episode.title.rendered }}</h2>
                <p [innerHTML]="episode.excerpt.rendered"></p>
            </a>
        </li>
    </ul>

</div>

<ng-template #loading>
    <p>Loading...</p>
</ng-template>