.related-episodes {
  padding: 24px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.5rem;
}

@media (min-width: 720px) {
  .related-episodes {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 1.5rem;
  }
}

@media (min-width: 960px) {
  .related-episodes {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) {
  .related-episodes {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media (min-width: 1920px) {
  .related-episodes {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}