/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Box sizing
--------------------------------------------- */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* App
--------------------------------------------- */

app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-main {
  flex-grow: 1;
}

app-header {
  position: sticky;
  top: 0;
  z-index: 3;
}

/* Typography
--------------------------------------------- */

html {
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body,
button,
input,
select,
optgroup,
textarea {
  font-family: var(--font-sans);
  font-size: var(--font-base);
  font-weight: var(--font-normal);
  line-height: var(--leading-base);
  color: rgb(var(--color-primary-200));
  font-feature-settings: 'pnum' 1,'kern' 1,'ss01' 1,'ss03' 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--font-base);
  font-weight: var(--font-normal);
  line-height: var(--leading-base);
  margin: 0;
}

h1 {
  line-height: 1.2;
}

h3 {
  line-height: 1.2;
}

p {
  margin: 0 0 1.5rem;
}

/* Elements
--------------------------------------------- */

body {
  background: rgb(var(--color-primary-950));
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

figure {
  margin: 1rem 0;
}

picture {
  display: block;
}

/* Links
--------------------------------------------- */
a {
  cursor: pointer;
  display: inline-block;
  color: rgb(var(--color-primary-200));
  text-decoration: none;
}

a:visited {
  color: rgb(var(--color-primary-50));
}

a:hover,
a:focus {
  color: rgb(var(--color-primary-50));
}

a:focus,
a:hover,
a:active {
  outline: 0;
}

.underline {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.25rem;
  text-decoration-color: rgb(var(--color-accent-150));
}

.underline:hover {
  color: rgb(var(--color-primary-50));
}

/* Buttons
--------------------------------------------- */

button {
  background-color: transparent;
  border: none;
  color: rgb(var(--color-primary-200));
  cursor: pointer;
  padding: 0;
}

/* button:hover {
  background-color: var(--color-primary-500);
  border-color: var(--color-primary-500);
  color: var(--color-primary-50);
} */

/*--------------------------------------------------------------
# Lazy Load
--------------------------------------------------------------*/

img[appLazyLoad] {
  filter: blur(8px); /* You can adjust the blur value to your liking */
  transition: filter 0.6s;
}

img[appLazyLoad][src] {
  filter: none;
}

/*--------------------------------------------------------------
# Loaders
--------------------------------------------------------------*/

/* Root
--------------------------------------------- */

.loader {
  pointer-events: none;
  display: inline-block;
  line-height: 1;
  width: var(--font-2xl);
  height: var(--font-2xl);
  padding: 0.31428571428571433rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 100%;
  height: 100%;
  border: 2px solid;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: spinner 0.9s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

app-episode-detail .loader {
  display: inline-block;
  width: var(--font-5xl);
  height: var(--font-5xl);
  padding: 0.628571428571429rem;
}

/* Check */

app-episode-detail
  .episode
  .content
  app-episode-audio-controls
  .audio-controls {
  cursor: pointer;
  margin-bottom: 1.25rem;
}

app-episode-detail
  .episode
  .content
  app-episode-audio-controls
  .audio-controls
  .symbol {
  font-size: var(--font-5xl);
}







/*--------------------------------------------------------------
# Episodes Loop
--------------------------------------------------------------*/

/* Grid
--------------------------------------------- */

.episodes-loop {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  row-gap: 1.5rem;
}

@media (min-width: 640px) {
  .episodes-loop {
    column-gap: 1.5rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .episodes-loop {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .episodes-loop {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) {
  .episodes-loop {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 1536px) {
  .episodes-loop {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media (min-width: 1920px) {
  .episodes-loop {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

/* Episode
--------------------------------------------- */

.episodes-loop .episode {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(var(--color-primary-900));
}

/* Episode Header
--------------------------------------------- */

.episodes-loop .episode .header {
  position: relative;
  padding: 6px;
}

.episodes-loop .episode .header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 4 / 3;
}

/* Audio Controls */

.episodes-loop .episode .audio-controls {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: background-color 0.2s;
}

.episodes-loop .episode .header:hover .audio-controls,
.episodes-loop .episode.loading .audio-controls,
.episodes-loop .episode.playing .audio-controls,
.episodes-loop .episode.active .audio-controls {
  background: rgba(0, 0, 0, 0.65);
}

@media (min-width: 960px) {
  .episodes-loop .episode .audio-controls {
    opacity: 0;
    visibility: hidden;
    transition: background-color 0.2s, opacity 0.2s, visibility 0.2s;
  }
  
  .episodes-loop .episode .header:hover .audio-controls,
  .episodes-loop .episode.loading .audio-controls,
  .episodes-loop .episode.playing .audio-controls,
  .episodes-loop .episode.active .audio-controls {
    opacity: 1;
    visibility: visible;
  } 
}

.episodes-loop .episode .audio-controls .symbol {
  font-size: var(--font-5xl);
}

.episodes-loop .episode .audio-controls .loader {
  display: inline-block;
  width: var(--font-5xl);
  height: var(--font-5xl);
  padding: 0.628571428571429rem;
}

/* Episode Body
--------------------------------------------- */

.episodes-loop .episode .body {
  flex-grow: 1;
  padding: 20px;
  /* background-color: rgba(var(--color-primary-900), 1); */
}

/* .episodes-loop .episode.loading .body,
.episodes-loop .episode.playing .body {
  background-color: rgba(var(--color-primary-50), 1);
  color: rgba(var(--color-primary-950), 1);
}

.episodes-loop .episode.active:not(.loading):not(.playing) .body {
  background-color: rgba(var(--color-primary-800), 1);
} */

.episodes-loop .episode .body .meta {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  justify-content: space-between;
  font-size: 0.8rem;
  margin-bottom: 0.75rem;
}

.episodes-loop .episode .body .title {
  font-size: var(--font-2xl);
  font-weight: var(--font-bold);
  font-family: var(--font-sans-condensed);
  line-height: var(--leading-tight);
}

/* Episode Footer
--------------------------------------------- */

.episodes-loop .episode .footer {
  padding: 20px;
  /* background-color: rgba(var(--color-primary-900), 1); */
}

/* .episodes-loop .episode.loading .footer,
.episodes-loop .episode.playing .footer {
  background-color: rgba(var(--color-primary-50), 1);
  color: rgba(var(--color-primary-950), 1);
} */

/* .episodes-loop .episode.loading .footer a,
.episodes-loop .episode.playing .footer a {
  color: rgba(var(--color-primary-950), 1);
}

.episodes-loop .episode.active:not(.loading):not(.playing) .footer {
  background-color: rgba(var(--color-primary-800), 1);
} */

.episodes-loop .episode .footer .genres {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.episodes-loop .episode .footer .genres .genre a {
  padding: 0.25rem 0.5rem;
  border: 1px solid;
  font-size: var(--font-sm);
}





/* footer */



/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

/* Pagination
--------------------------------------------- */

.pagination > .load-more {
  cursor: pointer;
  border: 1px solid;
  padding: 0.25rem 0.75rem;
  font-weight: var(--font-medium);
}

.pagination > .load-more:hover,
.pagination > .load-more.loading-more {
  color: rgb(var(--color-primary-200));
}

