<div class="test" *ngIf="loading; else Content">
  <div class="logo">
    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" clip-rule="evenodd" viewBox="0 0 1334 1334">
        <path d="M666.646 1085.7c-141.384 0-266.327-70.053-342.221-177.304C199.391 931.521 88.556 946.377.002 952.145v381.197h1333.33V612.437c-70.261 31.242-154.727 64.005-249.741 96.661-21.224 211.511-199.789 376.602-416.946 376.602ZM0-.01v756.775c69.795-31.021 153.546-63.541 247.757-95.962 3.211-228.683 189.488-413.184 418.89-413.184 155.032 0 290.293 84.28 362.781 209.44 116.69-20.992 220.221-34.525 303.903-39.976V-.01H.001Zm1108.38 286.557-53.632-39.128-53.634 39.128 20.301-63.731-53.635-37.647h65.248l21.72-65.251 21.717 65.251h65.248l-53.632 37.647 20.299 63.731Z" />
    </svg>
</div>
</div>

<ng-template #Content>

  <ng-container *ngIf="episode">

    <div class="episode">

      <!-- <picture *ngIf="episode.image.url">
        <source appLazyLoad [srcset]="episode.image.size['medium']" media="(max-width: 424px)">
        <source appLazyLoad [srcset]="episode.image.size['medium_large']" media="(min-width: 425px) and (max-width: 639px)">
        <source appLazyLoad [srcset]="episode.image.size['2048x2048']" media="(min-width: 640px)">
        <img appLazyLoad [src]="episode.image.size['medium_large']" [alt]="episode.image.alt" />
      </picture> -->

      <picture *ngIf="episode.image.url">
        <source appLazyLoad [attr.data-srcset]="episode.image.size['medium']" media="(max-width: 424px)">
        <source appLazyLoad [attr.data-srcset]="episode.image.size['medium_large']" media="(min-width: 425px) and (max-width: 639px)">
        <source appLazyLoad [attr.data-srcset]="episode.image.size['2048x2048']" media="(min-width: 640px)">
        <img appLazyLoad [attr.data-src]="episode.image.size['medium_large']" [alt]="episode.image.alt" />
      </picture>
    

      <div class="content">

        <div class="main">

          <h1 class="title">{{ episode.title }}</h1>

          <div class="meta">
            <div class="location-date">
              <span *ngIf="episode.location">{{ episode.location }}, </span><span class="date">{{ episode.date | date:'dd.MM.yy'}}</span>
            </div>

            <div class="producers" *ngIf="episode.producers">
              <span>With </span>
              <ng-container *ngFor="let producer of episode.producers; let last = last">
                <a [routerLink]="['/producer', producer.id]">{{ producer.name }}<ng-container *ngIf="!last">,</ng-container></a>
              </ng-container>
            </div>

            <div class="show" *ngIf="episode.shows && episode.shows.length > 0">
              Host on
              <a [routerLink]="['/show', episode.shows[0].id]">{{episode.shows[0].name}}</a>
            </div>

          </div>

          <app-episode-audio-controls [episode]="episode" [currentOnDemandStream$]="currentOnDemandStream$"
            [onDemandStreamLoading$]="onDemandStreamLoading$" [onDemandStreamPlaying$]="onDemandStreamPlaying$">
          </app-episode-audio-controls>

          <div class="description" *ngIf="episode.content" [innerHTML]="episode.content"></div>
        
          <ul class="genres" *ngIf="episode.genres">
            <li class="genre" *ngFor="let genre of episode.genres">
              <a [routerLink]="['/genre', genre.id]">{{ genre.name }}</a>
            </li>
          </ul>

        </div>

        <div class="tracklist" *ngIf="episode.tracklists && episode.tracklists.length > 0">
          <h2 class="title">Tracklist</h2>
          <ul class="tracks">
            <li class="track" *ngFor="let track of episode.tracklists[0].tracks">
              <div class="artist" *ngFor="let artist of track.artistTerms; let last = last">
                <a [routerLink]="['/artist', artist.id]">{{ artist.name }}<ng-container *ngIf="!last">,</ng-container></a>
              </div>
              <div class="title">{{ track.title }}</div>
              <div class="name">{{ track.artistName }}</div>
            </li>
          </ul>
        </div>

        <div class="footer">
          <div class="cta">
            <div class="back" (click)="goBack()">Back</div>
          </div>
        </div>

      </div>
    </div>

    <!-- Relate Episodes -->

    <section class="related-episodes" *ngIf="relatedEpisodes && relatedEpisodes.length > 0">
      <div class="container">
        <h2 class="title">Recent Episodes</h2>
        <app-episode-related-list [currentOnDemandStream$]="currentOnDemandStream$"
        [onDemandStreamLoading$]="onDemandStreamLoading$" [onDemandStreamPlaying$]="onDemandStreamPlaying$"
        [episodes]="relatedEpisodes">
      </app-episode-related-list>
      </div>
    </section>

  </ng-container>

</ng-template>