.container {
  padding: 1.5rem 20px;
}

.header > .wrapper {
  margin: 0 0 1.5rem;
}

.header .title {
  font-size: var(--font-4xl);
  font-weight: var(--font-medium);
  font-family: var(--font-sans-condensed);
}

.header .description {
  margin-top: 0.75rem;
}

@media (min-width: 540px) {
  .artists {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 1.5rem;
  }
}

.artist {
  font-family: var(--font-sans-condensed);
  font-size: var(--font-lg);
  font-weight: var(--font-bold);
}

.pagination {
  margin: 1.5rem 0 0;
  font-weight: var(--font-medium);
}



.filter > .wrapper {
  margin-bottom: 1.5rem;
  padding: 0.75rem 0;
  border-top: 1px solid rgb(var(--color-primary-900));
  border-bottom: 3px solid rgb(var(--color-primary-900));
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.5rem;
  row-gap: 0.75rem;
}

.filter a {
  text-transform: uppercase;
}

.filter a:hover {
  color: rgb(var(--color-primary-50));
}

.filter a.active {
  color: rgb(var(--color-primary-50));
  font-weight: var(--font-bold);
}