<ng-container *ngIf="loading; else Content">
  <identity-loader></identity-loader>
</ng-container>

<ng-template #Content>

  <div class="show" *ngIf="show">

    <div class="container">

      <picture *ngIf="show.image.url">
        <source appLazyLoad [attr.data-srcset]="show.image.size['medium_large']" media="(max-width: 539px)">
        <source appLazyLoad [attr.data-srcset]="show.image.size['large']" media="(min-width: 540px) and (max-width: 719px)">
        <source appLazyLoad [attr.data-srcset]="show.image.size['1536x1536']" media="(min-width: 720px) and (max-width: 1319px)">
        <source appLazyLoad [attr.data-srcset]="show.image.size['2048x2048']" media="(min-width: 1320px)">
        <img appLazyLoad [attr.data-src]="show.image.url" [alt]="show.image.alt" />
      </picture>
    
      <div class="content">

        <div class="main">
          <h1 class="title">{{ show.name }}</h1>

          <ng-container *ngFor="let producer of show.producers; let last = last">
            <div class="meta">With
              <a [routerLink]="['/producer', producer.id]">{{ producer.name }}<ng-container *ngIf="!last">,</ng-container></a>
            </div>
          </ng-container>

          <div class="description" *ngIf="show.description" [innerHTML]="show.description"></div>
        </div>

        <div class="footer">
          <div class="cta">
            <div class="back" (click)="back()">Back</div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <section class="related-episodes" *ngIf="relatedEpisodes && relatedEpisodes.length">
    <div class="container">
      <h2 class="title">Recent Episodes</h2>
      <app-episode-related-list [currentOnDemandStream$]="currentOnDemandStream$"
      [onDemandStreamLoading$]="onDemandStreamLoading$" [onDemandStreamPlaying$]="onDemandStreamPlaying$"
      [episodes]="relatedEpisodes">
    </app-episode-related-list>
    </div>
  </section>

</ng-template>