<ng-container *ngIf="initialLoading; else Content">
  <identity-loader></identity-loader>
</ng-container>

<ng-template #Content>

    <div class="container">
  
      <header class="header">
        <div class="wrapper">
          <h1 class="title">Producers</h1>
        </div>
      </header>

      <div class="filter">
        <div class="wrapper">
          <button [class.active]="activeBtn === 'activeResidents'" (click)="getActiveResidentProducers()">Residents</button>
          <button [class.active]="activeBtn === 'activeGuests'" (click)="getActiveGuestProducers()">Guests</button>
          <button [class.active]="activeBtn === 'inactiveResidents'" (click)="getInactiveResidentProducers()">Past Residents</button>
        </div>
      </div>

      <ul class="producers" *ngIf="producers && producers.length; else noData">
        <li class="producer" *ngFor="let producer of producers">
          <div class="name"><a [routerLink]="['/producer', producer.id]">{{ producer.name }}</a></div>
          <div class="last-active" *ngIf="producer.lastActive">Last active on <span>{{ producer.lastActive }}</span></div>
        </li>
      </ul>
      
      <ng-template #noData>
        <div class="no-data" *ngIf="!loading">
          No data available.
        </div>
      </ng-template>

    </div>

</ng-template>