.header > .container {
  padding: 0 20px;
  margin: 1.5rem 0;
}

.header > .container > .title {
  font-size: var(--font-4xl);
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
}



li {
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid;
}






/* Residents
--------------------------------------------- */

/* .residents > .container {
  max-width: var(--max-width-fluid);
  margin: 0 auto;
  padding: 3rem 0;
}

.residents .page-header {
  padding: 0 20px;
} */

.producer:first-child {
  border-top: 1px solid;
}

.producer:not(:last-child) {
  border-bottom: 1px solid;
}

.producer summary {
  cursor: pointer;
  padding: 0.5rem 20px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.producer summary:before {
  font-family: var(--font-symbol);
  content: '\e5cf';
  display: inline-block;
  font-size: 1.5rem;
  font-weight: normal;
  transform: rotate(-90deg);
  transition: 0.2s transform ease-in-out;
}

.producer[open] > summary:before {
  transform: rotate(0deg);
}

.producer summary::-webkit-details-marker {
  display: none;
}

.producer summary::selection,
.producer summary::-moz-selection {
  background: transparent;
}

.producer .content {
  padding: 1.5rem 20px 2rem;
  background-color: rgb(var(--color-primary-100));
  color: rgb(var(--color-primary-950));
  display: grid;
  gap: 1.5rem;
}

@media (min-width: 540px) {
  .producer .content {
    grid-template-columns: 1fr 2fr;
  }
}

@media (min-width: 960px) {
  .producer .content {
    grid-template-columns: 1fr 3fr;
  }
}

.producer .content a {
  display: block;
  color: rgb(var(--color-primary-950));
}

.producer .image {
  margin: 0;
}

@media (min-width: 1140px) {
  .producer .info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
  }
}