/*--------------------------------------------------------------
# Audio Player
--------------------------------------------------------------*/

.audio-player {
  position: relative;
}

/* Stream
--------------------------------------------- */
.audio-player .stream > .container {
  height: 2.65rem;
}

/* Live Stream
--------------------------------------------- */

.audio-player .live-stream > .container {
  display: flex;
}

.audio-player .live-stream .channel {
  padding: 0 20px;
  font-size: var(--font-sm);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: rgb(var(--color-primary-100));
  color: rgb(var(--color-accent-950));
  border-right: 1px solid;
}

.audio-player .live-stream .channel:after {
  display: inline-block;
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  background-color: aquamarine;
  border-radius: 50%;
  animation: liveStreamChannel 2s ease-in-out infinite both;
}

@keyframes liveStreamChannel {
  0% {
    opacity: 0.8;
  }
  80% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

.audio-player .live-stream .toggle-play {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 0 20px 0 18px;
  gap: 0.75rem;
  background-color: rgb(var(--color-primary-900));
  color: rgb(var(--color-primary-200));
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.audio-player .live-stream .toggle-play:hover {
  background-color: rgb(var(--color-primary-800));
  color: rgb(var(--color-primary-100));
}

.audio-player .live-stream .toggle-play.loading,
.audio-player .live-stream .toggle-play.playing {
  background-color: rgb(var(--color-primary-100));
  color: rgb(var(--color-primary-950));
}

.audio-player .live-stream .side-actions {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.audio-player .live-stream .side-actions > div {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16.5px;
  background-color: rgb(var(--color-primary-600));
  cursor: pointer;
}

.audio-player .live-stream .side-actions > div:not(:last-child) {
  border-right: 1px solid rgb(var(--color-primary-500));
}

.audio-player .live-stream .side-actions .toggle-expandable-panel {
  transition: background-color 0.2s, color 0.2s;
}

.audio-player .live-stream .side-actions .toggle-expandable-panel:hover,
.audio-player .live-stream .side-actions .toggle-expandable-panel.active {
  background-color: rgb(var(--color-primary-200));
  color: rgb(var(--color-primary-950));
}

.audio-player .live-stream .side-actions .toggle-expandable-panel .symbol {
  transition: transform 0.3s ease;
}

.audio-player
  .live-stream
  .side-actions
  .toggle-expandable-panel.active
  .symbol {
  transform: rotate(180deg);
}

/* On Demand Stream
--------------------------------------------- */

/* .audio-player .on-demand-stream {
} */

.audio-player .on-demand-stream > .container {
  display: flex;
}

.audio-player .on-demand-stream .channel {
  padding: 0 20px;
  font-size: var(--font-sm);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: rgb(var(--color-primary-100));
  color: rgb(var(--color-accent-950));
  border-right: 1px solid;
}

.audio-player .on-demand-stream .channel:after {
  display: inline-block;
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  background-color: orange;
  border-radius: 50%;
  animation: onDemandStreamChannel 2s ease-in-out infinite both;
}

@keyframes onDemandStreamChannel {
  0% {
    opacity: 0.8;
  }
  80% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

.audio-player .on-demand-stream .toggle-play {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 0 20px 0 18px;
  gap: 0.75rem;
  background-color: rgb(var(--color-primary-900));
  color: rgb(var(--color-primary-200));
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.audio-player .on-demand-stream .toggle-play:hover {
  background-color: rgb(var(--color-primary-800));
  color: rgb(var(--color-primary-100));
}

.audio-player .on-demand-stream .toggle-play.loading,
.audio-player .on-demand-stream .toggle-play.playing {
  background-color: rgb(var(--color-primary-100));
  color: rgb(var(--color-primary-950));
}

.audio-player .on-demand-stream .side-actions {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.audio-player .on-demand-stream .side-actions > div {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16.5px;
  background-color: rgb(var(--color-primary-600));
  cursor: pointer;
}

.audio-player .on-demand-stream .side-actions > div:not(:last-child) {
  border-right: 1px solid rgb(var(--color-primary-500));
}

.audio-player .on-demand-stream .side-actions .back-to-live-stream,
.audio-player .on-demand-stream .side-actions .toggle-expandable-panel {
  transition: background-color 0.2s, color 0.2s;
}

.audio-player .on-demand-stream .side-actions .back-to-live-stream:hover,
.audio-player .on-demand-stream .side-actions .toggle-expandable-panel:hover,
.audio-player .on-demand-stream .side-actions .toggle-expandable-panel.active {
  background-color: rgb(var(--color-primary-200));
  color: rgb(var(--color-primary-950));
}

.audio-player
  .on-demand-stream
  .side-actions
  .toggle-expandable-panel.active:hover {
  background-color: rgb(var(--color-primary-100));
}

.audio-player .on-demand-stream .side-actions .toggle-expandable-panel .symbol {
  transition: transform 0.3s ease;
}

.audio-player
  .on-demand-stream
  .side-actions
  .toggle-expandable-panel.active
  .symbol {
  transform: rotate(180deg);
}

/* Exp Panel
--------------------------------------------- */

/* live */

.live-stream-expandable-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* z-index: -1; */
  background-color: rgb(var(--color-primary-900));
}

.live-stream-expandable-panel .wrapper {
  position: relative;
  display: grid;
}

@media (min-width: 1280px) {
  .live-stream-expandable-panel > .wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

.live-stream-expandable-panel > .wrapper > picture > img {
  object-fit: cover;
  width: 100%;
  max-height: 50vh;
}

.live-stream-expandable-panel > .wrapper > .channel {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 0 20px;
  height: 2.65rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: rgb(var(--color-primary-100));
  color: rgb(var(--color-primary-950));
  font-size: var(--font-sm);
  /* font-family: var(--font-sans-condensed); */
  /* font-weight: var(--font-medium); */
}

.live-stream-expandable-panel > .wrapper > .channel:after {
  display: inline-block;
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  background-color: aquamarine;
  border-radius: 50%;
  animation: onDemandStreamChannel 2s ease-in-out infinite both;
}

.live-stream-expandable-panel > .wrapper > .content {
  padding: 20px;
}

.live-stream-expandable-panel > .wrapper > .content .title {
  margin-bottom: 1.5rem;
  font-family: var(--font-sans-condensed);
  font-weight: var(--font-medium);
  font-size: var(--font-3xl);
}

.live-stream-expandable-panel > .wrapper > .content .shows a {
  display: inline;
}

.live-stream-expandable-panel > .wrapper > .content .shows {
  margin-bottom: 1.5rem;
}

.live-stream-expandable-panel > .wrapper > .content .shows a {
  display: inline;
}

.live-stream-expandable-panel > .wrapper > .content .description {
  margin-bottom: 1.5rem;
}

/* on dmnd */

.on-demand-stream-expandable-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* z-index: -1; */
  background-color: rgb(var(--color-primary-900));
}

.on-demand-stream-expandable-panel .wrapper {
  position: relative;
  display: grid;
}

@media (min-width: 1280px) {
  .on-demand-stream-expandable-panel > .wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

.on-demand-stream-expandable-panel > .wrapper > picture {
  position: relative;
}

.on-demand-stream-expandable-panel > .wrapper > picture > .loader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.on-demand-stream-expandable-panel > .wrapper > picture .loader {
  width: var(--font-5xl);
  height: var(--font-5xl);
  padding: 0.628571428571429rem;
}

.on-demand-stream-expandable-panel > .wrapper > picture > img {
  object-fit: cover;
  max-height: 50vh;
  width: 100%;
  opacity: 0.5;
}

.on-demand-stream-expandable-panel > .wrapper > .channel {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: rgb(var(--color-primary-50));
  font-family: var(--font-sans-condensed);
  font-weight: var(--font-medium);
}

.on-demand-stream-expandable-panel > .wrapper > .channel:after {
  display: inline-block;
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  background-color: orange;
  border-radius: 50%;
  animation: onDemandStreamChannel 2s ease-in-out infinite both;
}

.on-demand-stream-expandable-panel > .wrapper > .content {
  padding: 20px;
}

.on-demand-stream-expandable-panel > .wrapper > .content .title {
  margin-bottom: 1.5rem;
  font-family: var(--font-sans-condensed);
  font-weight: var(--font-medium);
  font-size: var(--font-3xl);
}

.on-demand-stream-expandable-panel > .wrapper > .content .location-date {
  margin-bottom: 1.5rem;
}

.on-demand-stream-expandable-panel > .wrapper > .content .producers a,
.on-demand-stream-expandable-panel > .wrapper > .content .shows a {
  font-weight: var(--font-bold);
}

/* Progress Bar
--------------------------------------------- */

.progress-bar > .container {
  padding: 20px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 0.75rem;
}

.progress-bar time {
  font-family: var(--font-mono);
  font-size: var(--font-sm);
}

/* Main range container */
.progress-bar input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  background-color: transparent;
  height: 9px;
  cursor: pointer;
}

/* The thumb (slider) */
.progress-bar input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 3px;
  background-color: rgb(var(--color-primary-50));
  border-radius: 0;
  border: none;
}

.progress-bar input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 3px;
  background-color: rgb(var(--color-primary-50));
  border-radius: 0;
  border: none;
}

/* Active portion of the track */
.progress-bar input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: linear-gradient(
    to right,
    rgb(var(--color-primary-100)) 0%,
    rgb(var(--color-primary-100)) var(--slider-percentage),
    rgb(var(--color-primary-500)) var(--slider-percentage),
    rgb(var(--color-primary-500)) 100%
  );
}

.progress-bar input[type="range"]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: linear-gradient(
    to right,
    rgb(var(--color-primary-100)) 0%,
    rgb(var(--color-primary-100)) var(--slider-percentage),
    rgb(var(--color-primary-500)) var(--slider-percentage),
    rgb(var(--color-primary-500)) 100%
  );
}

.progress-bar input[type="range"]::-moz-range-progress {
  background-color: rgb(var(--color-primary-300));
}

/* Hover effect for better UX */
.progress-bar input[type="range"]:hover::-webkit-slider-thumb {
  background-color: rgb(var(--color-primary-50));
  height: 5px;
}

.progress-bar input[type="range"]:hover::-moz-range-thumb {
  background-color: rgb(var(--color-primary-50));
  height: 5px;
}
