.audio-player {
  background-color: #666;
    color: #fff;
    
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.audio-player.active {
  background-color: #fff;
  color: #000;
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #666;
  }
  
  .progress {
    height: 100%;
    background-color: aquamarine;
    transition: width 0.1s linear; 
  }

  .live-stream .container {
    display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0.25rem 24px;
  }
  
.on-demand {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

 .on-demand .container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0.25rem 24px;
 }

 .reverse {
  background-color: aquamarine;
  color: #000;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 24px;
 }