<div class="audio-player" [ngSwitch]="(audioPlayerService.isOnDemandStreamLoaded | async)" [class.active]="(audioPlayerService.isPlaying | async)">

  <ng-container *ngSwitchCase="false">
    <div class="live-stream" (click)="toggleLiveStream()">

      <div class="container">
        <span class="loader" *ngIf="audioPlayerService.isLiveStreamLoading | async; else playPauseIcon"></span>
        <ng-template #playPauseIcon>
          <span class="material-symbols-outlined play">{{ audioPlayerService.isLiveStreamPlaying ? 'pause' :
            'play_arrow'
            }}</span>
        </ng-template>
        <span id="cc_streaminfo" class="cc_streaminfo" data-type="tracktitle" data-username="kocmoc1">Loading ..</span>
      </div>

    </div>
  </ng-container>

  <ng-container *ngSwitchCase="true">

    <div class="on-demand" (click)="toggleOnDemandStream()">

      <div class="container">

        <div class="spinner-container" *ngIf="audioPlayerService.isOnDemandStreamLoading | async; else episodePlayPauseIcon">
          <div class="spinner"></div>
        </div>

        <div *ngIf="audioPlayerService.isOnDemandStreamLoading | async;">Loading...</div>

        <ng-template #episodePlayPauseIcon>
          <div class="material-symbols-outlined play">{{ audioPlayerService.isOnDemandStreamPlaying ? 'pause' : 'play_arrow' }}</div>
        </ng-template>

        <div *ngIf="!(audioPlayerService.isOnDemandStreamLoading | async)">
          {{ ((audioPlayerService.currentOnDemandStream$ | async)?.title)?.rendered }}
          - {{ ((audioPlayerService.currentOnDemandStream$ | async)?.date) | date:'dd.MM.yy' }}
        </div>

        <div class="time-display" *ngIf="!(audioPlayerService.isOnDemandStreamLoading | async)">
          {{ audioPlayerService.formattedCurrentTime | async }} / {{ audioPlayerService.formattedDuration | async }}
        </div>
        

      </div>

      <div class="reverse" (click)="backToLiveStream()">
        <span class="material-symbols-outlined play">autorenew</span>
        Live Stream
      </div>

    </div>


    <div class="progress" >

      <div class="progress-bar-container" (click)="seekAudio($event, audioPlayerService.durationInSeconds.getValue())">
        <div class="progress-bar" *ngIf="!(audioPlayerService.isOnDemandStreamLoading | async)" [style.width.%]="(audioPlayerService.currentTimeInSeconds.getValue() / audioPlayerService.durationInSeconds.getValue()) * 100"></div>
      </div>
      
      
      
      </div>
    

  </ng-container>
</div>

