
<div *ngIf="onDemandStreamPlaying$ | async" class="progress-bar-container">
    
    <input
    type="range"
    min="0"
    [max]="onDemandStreamDuration$ | async"
    [value]="onDemandStreamCurrentTime$ | async"
    (input)="onScrub($event)"
    
/>

    
</div>

<div class="audio-player" [ngSwitch]="(streamTypeSelected$ | async)">

    <ng-container *ngSwitchCase="'liveStream'">

        <div class="live-stream" (click)="toggleLiveStream()" [class.loading]="(liveStreamLoading$ | async)" [class.active]="(liveStreamPlaying$ | async)">

            <div class="container">

                <div *ngIf="(liveStreamLoading$ | async); else liveStreamContent" class="loader" >
                    <div class="spinner-container">
                        <div class="spinner"></div>
                    </div>       
                </div>

                <ng-template #liveStreamContent>
                    <div class="content">
                        <div class="material-symbols-outlined play">{{ (liveStreamPlaying$ | async) ? 'stop' : 'play_arrow' }}</div>
                    </div>
                </ng-template>
                
               

                <div class="stream-info">
                    {{currentLiveStreamTrack?.artist}} - {{currentLiveStreamTrack?.title}}
                </div>
                  

            </div>

        </div>

    </ng-container>

    <ng-container *ngSwitchCase="'onDemandStream'">

        <div class="on-demand" (click)="toggleOnDemandStream()">

            <div class="container">

                <div *ngIf="(onDemandStreamLoading$ | async); else episodePlayPauseIcon" class="spinner-container">
                    <div class="spinner"></div>
                </div>

                <ng-template #episodePlayPauseIcon>
                    <div class="material-symbols-outlined play">{{ (onDemandStreamPlaying$ | async) ? 'pause' : 'play_arrow' }}</div>
                </ng-template>                

                <div *ngIf="onDemandStreamPlaying$ | async">
                    {{ currentEpisode?.title }} - {{ currentEpisode?.date | date:'dd.MM.yy' }} | {{ formatTime(onDemandStreamCurrentTime$ | async) }} / {{ formatTime(onDemandStreamDuration$ | async) }}

                </div>

                <!-- <div *ngIf="!(onDemandStreamLoading$ | async)">
                    {{ currentEpisode | json }}
                </div> -->
                
                
                

            </div>

            <div class="reverse" (click)="backToLiveStream()">
                <span class="material-symbols-outlined play">autorenew</span>
                Live Stream
            </div>

        </div>

    </ng-container>
</div>




