.audio-player {
  background-color: #666;
    color: #fff;
    padding: 0.25rem 0.5rem;;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.audio-player.active {
  background-color: #fff;
  color: #000;
}

.live-stream {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.progress-bar {
    margin-top: 1rem;
    width: 100%;
    height: 6px;
    background-color: #666;
  }
  
  .progress {
    height: 100%;
    background-color: aquamarine;
  }
  


 