.container {
  padding: 3rem 20px;
}

@media (min-width: 720px) {
  .container {
    padding: 1.5rem 20px 3rem;
  }
}

.header {
  margin: 0 0 1.5rem;
  padding-bottom: 0.75rem;
  border-bottom: 3px solid rgb(var(--color-primary-900));
}

.header .title {
  font-size: var(--font-4xl);
  font-weight: var(--font-medium);
  font-family: var(--font-sans-condensed);
}

.header .meta {
  margin-top: 0.75rem;
}

.event {
  margin-bottom: 0.75rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid rgb(var(--color-primary-900));
}

.event .producer {
  font-size: var(--font-xl);
  font-family: var(--font-sans-condensed);
}