@import 'material-symbols';

.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}



/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/

/* Box sizing
--------------------------------------------- */

/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */

html {
  font-size: 15px;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}





body {
  background-color: #010409;
  color: #e6edf3;
  line-height: 1.5;
  max-width: 2560px;
  margin: 0 auto;
  font-size: 15px;
}

a {
  color: #e6edf3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
}



/* 
.loader {
  width: 24px;
  height: 24px;
  border: 3px solid;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  }  */